@import "tailwindcss" source(none);
@plugin "@toolwind/corner-shape";

@source "../../apps/web/src";
@source "../ui/src";

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --font-sans: P, "Pretendard Variable", Pretendard, system-ui, "Helvetica Neue", "Apple SD Gothic Neo", sans-serif;
  --font-display: O, Onest, var(--font-sans);

  --color-brand: #1f44ff;
}